.wrapper {
  position: relative;

  .button {
    position: relative;
    z-index: 3;
  }

  .button:hover ~ .shadow {
    filter: blur(10px);
  }

  .mask {
    position: absolute;
    inset: -2px;
    overflow: hidden;
    z-index: 2;

    &:after {
      background: conic-gradient(#06876d, #4200c7, #00b31b, #b700c8, #06876d);
      // background: conic-gradient(#000, #fff, #000);
      position: absolute;
      inset: 0;
      margin: auto;
      content: "";
      aspect-ratio: 1/1;
      border-radius: 100%;
      width: 100%;
      animation: rotate-mask 3s linear infinite;
    }
  }

  .shadow {
    position: absolute;
    z-index: 1;
    inset: -5px;
    border-radius: 4rem;
    background: linear-gradient(45deg, #ff0000, #ff9900, #00ffcc, #0066ff, #ff00ff);
    background-size: 200% 200%;
    transition: filter 0.2s ease;

    filter: blur(5px);
    animation: gradientShift 3s linear infinite;
  }
}

.wrapper.full_width {
  width: 100%;
}

@keyframes rotate-mask {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes gradientShift {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 200% 0%;
  }
}

@keyframes pulseGlow {
  0% {
    filter: blur(6px) brightness(1);
  }
  50% {
    filter: blur(10px) brightness(1.5);
  }
  100% {
    filter: blur(6px) brightness(1);
  }
}
