.Toastify__toast-container {
  .Toastify__toast {
    padding: 2rem;
    border-radius: 2rem;
    font-size: 1.6rem;
    font-weight: 500;
    width: 50rem;

    .Toastify__close-button {
      padding: 0.5rem;
    }
  }
}
