.button {
  overflow: hidden;
}

.button > div {
  // height: 10rem !important
  height: 52px !important;

  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  inset: 0;
  div {
    height: 100% !important;
  }
}
