.wrapper {
  font-size: 10px;
  line-height: 1.6 !important;
  word-wrap: break-word;
  font-weight: 400;

  p {
    font-size: 1.6em;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
  }

  h1 {
    font-weight: 600;
    font-size: 2.4em;
  }
  h2 {
    font-weight: 600;
    font-size: 2em;
  }

  mark {
    background-color: #ffe0e0;
    border-radius: 0.4em;
    padding: 0.2em 0.5em;
  }

  ul,
  ol {
    li {
      font-size: 1.6em;
    }
  }

  blockquote {
    font-style: italic;
    padding: 1.6em;
    border-radius: 1.6em;
    background-color: #def4eb;
    margin-left: 0;
    margin-right: 0;
    text-indent: 3.5em;
    position: relative;

    p {
      margin: 0;
    }

    &:before {
      position: absolute;
      top: 0.6em;
      left: -1em;
      content: '"';
      font-size: 2em;
      text-align: left;
    }
  }

  pre {
    padding: 1.6em !important;
    border-radius: 1.6em !important;
    font-size: 1.6em !important;
  }

  .table-wrapper {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  table {
    font-size: 1.6em;
    overflow-x: auto;
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
    border: 1px solid #000;
    border-radius: 0.5em;
    margin: 0.5em auto;
    background-color: #fff;
    width: max-content;

    th {
      font-weight: 600;
      background-color: rgba(#000, 0.2);
      border-bottom-width: 2px;
    }
    th,
    td {
      padding: 0.5em;
      border: 1px solid #000;
    }

    tr {
      th,
      td {
        border-top: none;
        &:first-child {
          border-left: none;
        }
        &:last-child {
          border-right: none;
        }
      }
      &:last-child {
        td {
          border-bottom: none;
        }
      }
    }
  }

  figure {
    margin-left: 0;
    margin-right: 0;
  }
}
