.input_bg {
  position: absolute;
  background: linear-gradient(to right, #06876d, #52c727, #7fe327, #ccd221);
  background-size: 200% 200%;
  transition: filter 0.2s ease;
  inset: 0;
  z-index: 1;
  filter: blur(5px);
  animation: gradientShift 3s linear infinite;
}

@keyframes gradientShift {
  0% {
    background-position: 200% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}
