@use './vars';

* {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul, li {
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100%;
  font-size: 1.4rem;
}