.wrapper {
  background-color: #C59300;
  border-radius: .8rem;
  transition: all .05s ease;
  min-height: 5.2rem;
  padding: 0;
  border: none;
  cursor: pointer;

  &:active {
    .main {
      transform: translate(0,0);
    }
  }

  &:disabled {
    pointer-events: none;
    user-select: none;
    background-color: #A4A4A4;

    .main {
      background-color: #D7D7D7;
      color: #9D9D9D;
    }
  }

  .main {
    gap: .4rem;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #F0C23B;
    border-radius: .8rem;
    transform: translate(-4px, -4px);
    transition: all .05s ease;
    font-size: 1.6rem;
    color: #fff;
    font-weight: 600;
    padding: .5rem 1.6rem;

    .icon {
      flex: 0 0 auto;
      display: flex;
      align-items: center;

      svg {
        font-size: 1.6em;
      }
    }
    
    .content {
      flex: 1 0 auto;
    }

    .icon.start {
    }
    .icon.end {
    }
  }
}
.wrapper.fill {
  width: 100%;
  .main {
    width: 100%;
  }
}
