.wrapper.loading {
  pointer-events: none;
  user-select: none;
  // background-color: #a4a4a4;
  .main {
    // background-color: #d7d7d7;
    // color: #9d9d9d;
    .content,
    .icon {
      opacity: 0;
    }
  }
}

.wrapper {
  background-color: #c59300;
  border-radius: 0.8rem;
  transition: all 0.05s ease;
  min-height: 5.2rem;
  padding: 0;
  border: none;
  cursor: pointer;

  &:active {
    .main {
      transform: translate(0, 0);
    }
  }

  &:disabled {
    pointer-events: none;
    user-select: none;
    background-color: #a4a4a4;

    .main {
      background-color: #d7d7d7;
      color: #9d9d9d;
    }
  }

  .main {
    gap: 0.4rem;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #f0c23b;
    border-radius: 0.8rem;
    transform: translate(-4px, -4px);
    transition: all 0.05s ease;
    font-size: 1.6rem;
    color: #fff;
    font-weight: 600;
    padding: 0.5rem 1.6rem;
    position: relative;

    .loader {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .icon {
      flex: 0 0 auto;
      display: flex;
      align-items: center;

      svg {
        font-size: 1.6em;
      }
    }

    .content {
      flex: 1 0 auto;
    }

    .icon.start {
    }
    .icon.end {
    }
  }
}
.wrapper.fill {
  width: 100%;
  .main {
    width: 100%;
  }
}
